* {
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Kanit', sans-serif;
  }
  
  .df{
    display: flex!important;
  }
  
  .fdc{
    flex-direction: column;
  }
  
  .posr{
    position: relative;
  }
  
  .posa {
    position: absolute;
  }
  
  .w100p{
    width: 100%;
  }
  
  .jcc{
    justify-content: center!important;
  }
  
  .aic{
    align-items: center;
  }

  /*Estilos para la cabezera de aqui para abajo*/

  .letra {
    color: white;
  }

  .headerPrincipal {
    background: #312f32;
    width: 100%;
    min-height: 13vh;
  }
  
  .div-header {
  }
  
  .contenedor-h1-icono{
    justify-content: space-between;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
  }

  
  .fa-calendar{
    font-size: 1.5rem;
    padding-left: .6vw;
    padding-right: .6vw;
  }
  
  .titulo{
    font-weight: 700;
    font-size: clamp(2rem,5vw,3rem);
  }
  
  .frase{
    font-size: clamp(.75rem,1.8vw,1rem);
  }
  
  .absolute {
    width: 85%;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .subtitulo {
    font-weight: 700;
    font-size: clamp(1.1rem,2.8vw,1.8rem);
  }
  
  /*Aqui termina la cabezera de la pagina */